In [2]:
import pandas as pd

In [3]:
hd= pd.read_csv(r"/Users/rania/Downloads/Holiday dest.csv")
## how many rows and columns in the file
hd.shape

(15, 8)

In [4]:
## print row 3-8
print(hd.iloc[2-8])

Destination              Thailand
most visited city            Bali
feedback score                8.9
all-inclusive hotels           35
Hotel star rating               4
Cost pp                  £250.00
Number of days                  7
Unnamed: 7                    NaN
Name: 9, dtype: object

In [5]:
## Find the mean number of all-inclusive hotels across all destinations

hd["all-inclusive hotels"].mean()

12.8

In [30]:
hd.rename(columns={"feedback score": "scoring"}, inplace=True)
print(hd)
#### the space in the name was giving me an error, had to rename it

   Destination most visited city  scoring  all_inclusive  Hotel star rating  \
0        Spain            Madrid      8.9             10                  4
1       France             paris      8.9             20                  4
2      England            london      7.9             21                  3
3      Morroco          marakech      9.5             14                  4
4       Turkey          Istanbul      9.5             15                  4
5     Emirates             Dubai      8.9             17                  4
6       Egypte             Cairo      8.5             18                  3
7          USA             Miami      9.5             13                  3
8       Mexico            Mexico      9.4             12                  3
9     Thailand              Bali      8.9             35                  4
10   Caribbean       The Bahamas      8.5              2                  3
11  Costa Rica          San Jose      7.9              3                  3
12     Tunisia             Tunis      8.1              6                  4
13    Maldives          Maldives      9.8              2                  4
14      Greece         Santorini      8.6              4                  3

      Cost pp  Number of days  Unnamed: 7
0    £309.00                4         NaN
1    £579.00                7         NaN
2    £539.00                7         NaN
3    £279.00                7         NaN
4    £489.00                7         NaN
5    £499.00                7         NaN
6    £590.00                7         NaN
7    £490.00                5         NaN
8    £590.00                6         NaN
9    £250.00                7         NaN
10   £260.00                8         NaN
11   £570.00                9         NaN
12   £400.00                5         NaN
13   £755.00                6         NaN
14   £788.00                7         NaN

In [10]:
##Find the highest scoring destination.
print(hd[hd.scoring==hd.scoring.max()])

   Destination most visited city  scoring  all_inclusive  Hotel star rating  \
13    Maldives          Maldives      9.8              2                  4

      Cost pp  Number of days  Unnamed: 7
13   £755.00                6         NaN

In [11]:
##Find the lowest scoring destination
print(hd[hd.scoring==hd.scoring.min()])

   Destination most visited city  scoring  all_inclusive  Hotel star rating  \
2      England            london      7.9             21                  3
11  Costa Rica          San Jose      7.9              3                  3

      Cost pp  Number of days  Unnamed: 7
2    £539.00                7         NaN
11   £570.00                9         NaN

In [8]:
hd.rename(columns={"all-inclusive hotels": "all_inclusive"}, inplace=True)
print(hd)
## the space in the name was giving me an error, had to rename it

   Destination most visited city  feedback score  all_inclusive  \
0        Spain            Madrid             8.9             10
1       France             paris             8.9             20
2      England            london             7.9             21
3      Morroco          marakech             9.5             14
4       Turkey          Istanbul             9.5             15
5     Emirates             Dubai             8.9             17
6       Egypte             Cairo             8.5             18
7          USA             Miami             9.5             13
8       Mexico            Mexico             9.4             12
9     Thailand              Bali             8.9             35
10   Caribbean       The Bahamas             8.5              2
11  Costa Rica          San Jose             7.9              3
12     Tunisia             Tunis             8.1              6
13    Maldives          Maldives             9.8              2
14      Greece         Santorini             8.6              4

    Hotel star rating    Cost pp  Number of days  Unnamed: 7
0                   4   £309.00                4         NaN
1                   4   £579.00                7         NaN
2                   3   £539.00                7         NaN
3                   4   £279.00                7         NaN
4                   4   £489.00                7         NaN
5                   4   £499.00                7         NaN
6                   3   £590.00                7         NaN
7                   3   £490.00                5         NaN
8                   3   £590.00                6         NaN
9                   4   £250.00                7         NaN
10                  3   £260.00                8         NaN
11                  3   £570.00                9         NaN
12                  4   £400.00                5         NaN
13                  4   £755.00                6         NaN
14                  3   £788.00                7         NaN

In [12]:
##Find all the destinations where there are more than 9 all-inclusive hotels.
print(hd[hd.all_inclusive>=9])

  Destination most visited city  scoring  all_inclusive  Hotel star rating  \
0       Spain            Madrid      8.9             10                  4
1      France             paris      8.9             20                  4
2     England            london      7.9             21                  3
3     Morroco          marakech      9.5             14                  4
4      Turkey          Istanbul      9.5             15                  4
5    Emirates             Dubai      8.9             17                  4
6      Egypte             Cairo      8.5             18                  3
7         USA             Miami      9.5             13                  3
8      Mexico            Mexico      9.4             12                  3
9    Thailand              Bali      8.9             35                  4

     Cost pp  Number of days  Unnamed: 7
0   £309.00                4         NaN
1   £579.00                7         NaN
2   £539.00                7         NaN
3   £279.00                7         NaN
4   £489.00                7         NaN
5   £499.00                7         NaN
6   £590.00                7         NaN
7   £490.00                5         NaN
8   £590.00                6         NaN
9   £250.00                7         NaN

In [21]:
##Filter the data by score above 8. 
print(hd[hd.scoring>=8])

   Destination most visited city  scoring  all_inclusive  Hotel star rating  \
0        Spain            Madrid      8.9             10                  4
1       France             paris      8.9             20                  4
3      Morroco          marakech      9.5             14                  4
4       Turkey          Istanbul      9.5             15                  4
5     Emirates             Dubai      8.9             17                  4
6       Egypte             Cairo      8.5             18                  3
7          USA             Miami      9.5             13                  3
8       Mexico            Mexico      9.4             12                  3
9     Thailand              Bali      8.9             35                  4
10   Caribbean       The Bahamas      8.5              2                  3
12     Tunisia             Tunis      8.1              6                  4
13    Maldives          Maldives      9.8              2                  4
14      Greece         Santorini      8.6              4                  3

      Cost pp  Number of days  Unnamed: 7
0    £309.00                4         NaN
1    £579.00                7         NaN
3    £279.00                7         NaN
4    £489.00                7         NaN
5    £499.00                7         NaN
6    £590.00                7         NaN
7    £490.00                5         NaN
8    £590.00                6         NaN
9    £250.00                7         NaN
10   £260.00                8         NaN
12   £400.00                5         NaN
13   £755.00                6         NaN
14   £788.00                7         NaN

In [58]:
##Filter the data score below 2 ( I need to know if these destinations should be removed or there is a problem)

print(hd[hd.scoring<=2])

Empty DataFrame
Columns: [Destination, most visited city, scoring, all_inclusive, Hotel star rating, Cost pp, Number of days, Unnamed: 7]
Index: []

In [24]:
import numpy as np
import matplotlib.pyplot as plt

In [29]:
my_corr= np.corrcoef(all_inclusive, scoring)
print(my_corr)

NameError: name 'all_inclusive' is not defined